<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="Content-Security-Policy" content="
        default-src 'none';
        style-src 'self';
        img-src 'self';
        font-src 'self';
        manifest-src 'self';
        upgrade-insecure-requests;
        block-all-mixed-content;
        require-trusted-types-for 'script';">
    <meta http-equiv="Strict-Transport-Security" content="
      max-age=63072000;
      includeSubDomains;
      preload;">

    <meta http-equiv="X-XSS-Protection" content="1; mode=block">
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta name="referrer" content="no-referrer">

    <title>sean lingren - {{ .Title }}</title>
    <meta name="description" content="{{ .Title }}">
    <link rel="stylesheet" href="../style.css">

    <!-- RSS/Atom Feeds -->
    <link rel="alternate" type="application/rss+xml" title="sean lingren - blog (rss)" href="/blog.xml">
    <link rel="alternate" type="application/atom+xml" title="sean lingren - blog (atom)" href="/blog.atom">
  </head>

  <body>
    <div class="main">
      <div class="blog">
        <a href="/" class="back-link">← Home</a>
        <div class="blog-content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </body>

</html>
