<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Sean Lingren - Blog</title>
  <link href="https://seanlingren.com/blog" rel="alternate"/>
  <link href="https://seanlingren.com/blog.atom" rel="self" type="application/atom+xml"/>
  <id>https://seanlingren.com/blog</id>
  <subtitle>Blog posts by Sean Lingren</subtitle>
  <author>
    <name>Sean Lingren</name>
  </author>
  {{- range .FeedBlogPosts }}
  <entry>
    <title>{{ .Title }}</title>
    <link href="https://seanlingren.com/blog/{{ .Slug }}.html" rel="alternate"/>
    <id>https://seanlingren.com/blog/{{ .Slug }}.html</id>
    {{- if .DateAtom }}
    <updated>{{ .DateAtom }}</updated>
    {{- end }}
    <content type="html"><![CDATA[{{ .Content }}]]></content>
  </entry>
  {{- end }}
</feed>
