body {
  background-image: url('../images/wall.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.top-row {
  padding-top: 6%;
}

.name-title {
  font-size: 20px !important;
}

.vaku-logo {
  padding: 6px;
}

.bottom-row {
  padding-top: 2%;
}

.email-card {
  display: inline-block;
}
