{{ define "title" }}sean lingren - {{ .Page.Title }}{{ end }}
{{ define "description" }}{{ .Page.Title }}{{ end }}

{{ define "feeds" }}
    <link rel="alternate" type="application/rss+xml" title="sean lingren - blog (rss)" href="/blog.xml">
    <link rel="alternate" type="application/atom+xml" title="sean lingren - blog (atom)" href="/blog.atom">
{{ end }}

{{ define "content" }}
      <div class="blog">
        <a href="/" class="back-link">← Home</a>
        <div class="blog-content">
          {{ .Page.Content }}
        </div>
      </div>
{{ end }}
